/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

label {
  text-align: right;
}

h1{
    text-align: center;
    font-size: xx-large;
}

input[type=text], input[type=password], select {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #03fcb1;
  color: white;
  padding: 14px 20px;
  display: block;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  width: 40%;
}